{% raw %}{% extends "layouts/base_layout.html" %}

{% load i18n account crispy_forms_tags %}

{% block title %}
  {% translate "Change Password" %}
{% endblock title %}
{% block page %}
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col">
      <div class="card w-full max-w-md shadow-2xl bg-base-100">
        <div class="card-body">
          <h2 class="card-title text-2xl justify-center text-primary">
            {% if token_fail %}
              {% translate "Bad Token" %}
            {% else %}
              {% translate "Change Password" %}
            {% endif %}
          </h2>
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="text-base-content">
              <p>
                {% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="link link-primary">new password reset</a>.{% endblocktranslate %}
              </p>
            </div>
          {% else %}
            {% if form %}
              <form method="post" action="." class="space-y-4">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-control mt-4">
                  <button type="submit" class="btn btn-primary">{% translate 'Change Password' %}</button>
                </div>
              </form>
            {% else %}
              <div class="alert alert-success">
                <p>{% translate 'Your password is now changed.' %}</p>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock page %}
{%- endraw %}
